@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700;800&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: calc(15px + 0.390625vw);
}

.calculator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calc-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
  max-inline-size: 22rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:
    0 3px 6px 0 rgba(0, 0, 0, 0.15),
    0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.displayscreen-cont {
  grid-column: 1/ 5;
  grid-row: 1 / 2;
  width: 100%;
  background: rgb(66, 76, 82) none repeat scroll 0% 0%;
  color: #fff;
}

.display-screen {
  width: 150px;
  padding: 12px 4px;
  font-size: 2rem;
  text-align: end;
  color: #fff;
  border: none;
  outline: none;
}

.btn {
  background-color: #e0e0e0;
  padding: 10px 0;
  border: 0.01px solid hsl(0, 0%, 80%);
  outline: none;
  transition: 0.05s ease-in-out;
  font-size: 1.1rem;
}

.btn:active {
  background-color: hsl(0, 0%, 78%);
}

.btn-top {
  grid-row: 2 / 3;
}

.btn-side {
  background-color: #f5913e;
  grid-column: 4/ 5;
}

.btn-side:active {
  background-color: hsl(27, 90%, 50%);
}

.numbers {
  grid-column: 1/ 4;
  grid-row: 3/ 7;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.col-span-2 {
  grid-column: 1 / 3;
}
